<!--导航栏-->
<div class="topHeader visible-md hidden-sm hidden-xs">
    <div class="maxWidthIndex">
        <div class="float-right">
            <ul>
                <li class="display-inline-block"><a href="/member/Login/" target="_blank">登录</a></li>
                <li class="display-inline-block"><a href="/member/Reg/" target="_blank">注册</a></li>
                <li class="display-inline-block">
                    <div class="ss-box">
                        <input type="text" class="s-input" placeholder="请输入关键字">
                        <button type="submit" class="s-btn">搜索</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="header">
    <div class="pclogo">
        <div class="maxWidthIndex">
            <div class="maxWidthIndexRow">
                <a class="logo" href="http://t20036.mbdemo.18inter.com/">
                    <img src="/upload/images/2022/12/15/51108094807.png" />
                </a>
            </div>
        </div>
    </div>
    <div class="pcNav">
        <div class="maxWidthIndex">
            <div class="nav" id="navMenu">
                <ul style="font-size:0;">
                    <li><a href="/">首页</a></li>
                    <% menus.forEach(function(item){ %>
                    <li>
                        <a href="<%= (item.type == 1 ? '/category/list' : item.type == 2 ? '/article/list' : '/page/index') %>?id=<%=item.id%>"><%=item.name %></a>
                        <% if(item.children && item.children.length > 0) {%>
                        <ul>
                            <% item.children.forEach(function(childItem){ %>
                            <li>
                                <a href="<%= (childItem.type == 1 ? '/category/list' : childItem.type == 2 ? '/article/list' : '/page/index') %>?id=<%=childItem.id%>"><%=childItem.name%></a>
                            </li>
                            <% }) %>
                        </ul>
                        <% } %>
                    </li>
                    <% }) %>

                </ul>
            </div>
        </div>
    </div>
    <div class="mask-bg" id="maskBg"></div>
    <span class="nav-toggle hidden-lg" id="navToggle"><i class="fa fa-bars text-white"></i></span>
</div>
<script type="text/javascript">
    var $navToggle = $("#navToggle");//手机端菜单图标
    var $maskBg = $("#maskBg");//遮挡层
    var $navMenu = $("#navMenu");
    $navToggle.on("click", function () {
        $maskBg.addClass("active");
        $navMenu.addClass("active");
    });
    $maskBg.on("click", function () {
        $maskBg.removeClass("active");
        $navMenu.removeClass("active");
    });
    $navMenu.children("ul").find("li").InitNav(22, 22);//初始化响应式菜单

    $navMenu = $("#navMenu");
    $navMenu.find("li[data-id='22']").addClass("current");
    var $navLis = $navMenu.find("li");
    var $navLi = $navMenu.find("li[data-id='22']");
    $navLis.each(function () {
        var $this = $(this);
        $this.children("a").on("mouseenter", function () {
            $navLis.removeClass("current");
            $this.addClass("current");
        })
    });
    $navMenu.on("mouseleave", function () {
        $navLis.removeClass("current");
        $navLi.addClass("current");
    })

    //搜索
    $(".s-btn").on("click", function () {
        var keyword = $(this).parents(".ss-box").find(".s-input").val();
        if (keyword != "") {
            location.href = "/Search/?kw=" + keyword;
        }
    });
    $(".s-input").on("keydown", function (event) {
        var key = event.which;
        if (key == 13) {
            var keyword = $(this).parents(".ss-box").find(".s-input").val();
            if (keyword != "") {
                location.href = "/Search/?kw=" + keyword;
            }
        }
    });

</script>






<style>
    .slideBoxBanner {
        width: 100%;
        height: 400px;
        overflow: hidden;
        position: relative;
    }

    .slideBoxBanner .hd {
        width: 100%;
        position: absolute;
        z-index: 1;
        bottom: 10px;
        left: 0;
        height: 30px;
        line-height: 30px;
        text-align: center;
    }

    .slideBoxBanner .hd ul li {
        background: #d6d6d6;
        cursor: pointer;
        display: inline-block;
        *display: inline;
        zoom: 1;
        width: 10px;
        height: 10px;
        margin: 2px;
        overflow: hidden;
        filter: alpha(opacity=40);
        opacity: 0.9;
        border-radius: 15px;
    }

    .slideBoxBanner .hd ul li.on {
        background: #165aa1;
        color: #fff;
    }

    .slideBoxBanner .bd {
        position: relative;
        height: 100%;
        z-index: 0;
    }

    .slideBoxBanner .bd li {
        zoom: 1;
        vertical-align: middle;
    }

    .slideBoxBanner .bd img {
        width: 100%;
        height: 400px;
        display: block;
    }

    .slideBoxBanner .prev,
    .slideBoxBanner .next {
        position: absolute;
        left: 3%;
        top: 50%;
        margin-top: -25px;
        display: block;
        width: 40px;
        height: 40px;
        filter: alpha(opacity=50);
        background: rgba(0, 0, 0, .5);
        text-align: center;
        line-height: 33px;
    }

    .slideBoxBanner .prev:hover,
    .slideBoxBanner .next:hover {
        background-color: #0b74c3;
    }

    .slideBoxBanner .next {
        left: auto;
        right: 3%;
        background-position: 8px 5px;
    }

    .slideBoxBanner .prev:hover,
    .slideBoxBanner .next:hover {
        filter: alpha(opacity=100);
        opacity: 1;
    }

    .slideBoxBanner .prevStop {
        display: none;
    }

    .slideBoxBanner .nextStop {
        display: none;
    }
</style>
<div class="white-bg">
    <div id="slideBox" class="slideBoxBanner">
        <div class="hd">
            <ul>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="bd">
            <ul>
                <li>
                    <img src="/upload/images/2022/09/05/51102114251.jpg" />
                </li>
                <li>
                    <img src="/upload/images/2022/09/05/51103114255.jpg" />
                </li>
            </ul>
        </div>
        <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
        <a class="prev" href="javascript:void(0)"><img src="/assets/template/<%=template %>/images/arrow_left.png" /></a>
        <a class="next" href="javascript:void(0)"><img src="/assets/template/<%=template %>/images/arrow_right.png" /></a>
    </div>
</div>
<script type="text/javascript">
    jQuery(".slideBoxBanner").slide({ mainCell: ".bd ul", autoPlay: true });
</script>